*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

img#imagen-fondo {
    width: 100%;
    height: 40vh;
    max-width: 100%;
}
img#imagen1, img#imagen2, img#imagen3{
    width: 70%;
    height: 70%;
    margin: 30px;
    box-shadow: 4px 4px 5px #494848;
    border-radius: 75% 25% 77% 23% / 43% 59% 41% 57% ;
    
    
}

img#logo {
    width:150px;
    height:150px;
    position:absolute;
    top: 9rem;
    left: 72rem;
    box-shadow: 2px 2px 5px #494848;
    filter: brightness(1.3);
    border-radius: 46% 54% 100% 0% / 99% 99% 1% 1% ;
    
}
    


img#logo:hover {
    background: rgb(80, 79, 79);
    font-size: 30px;
    padding: 10px;
    transition: all 1s ease 0s;
}
h1#titulo1 {
    margin-top: -240px;
    height: 236px;
    margin-left: 15px;
    -webkit-text-stroke: 2px #e0ee19;
    color: transparent; 
    text-shadow: 15px 10px 7px black;
    animation-duration: 3s;
    animation-name: slidein;
}

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



#navegacion>nav>ul>li>a:hover{
    background: rgb(240, 231, 231);
    color: white;
}


h2#titulo2{
    background-color: black;
    color: white;
   
    margin-top: 15px;
   
    text-align: center;
    
    
    
}

div#navegacion{
    width: 20%;
    height: 500px;
    background-color: #e0ee19;
    color: black;
    
    
    
}
div#contenido {
    width: 80%;
    background-color: red;
   
    
    height: 500px;
    
    
}
div.container{
    
    display: flex;
}

ul>li{
    list-style-type: none;
    padding: 15px;
    
}
ul>li>a{
    margin-left: 15%;
    box-shadow: 2px 2px 5px #494848;
    text-decoration: none;
    font-size: 30px;
    
    
}

/* hover imagenes */
img#imagen1:hover, img#imagen2:hover, img#imagen3:hover {
    background: rgb(80, 79, 79);
    font-size: 30px;
    padding: 10px;
    transition: all 1s ease 0s;
}

div#contenido>h2{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
    animation-direction:normal;
}
div#contenido>p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
    animation-direction:normal;
}